
.p1 {
  background-color: white;
  background-image: url("../images/clutter.png");
  background-size: cover;
  border-color: navy;
  border-width: 30px;
  border-style: solid;
}

.p2 {
  background-color: white;
  background-image: url("../images/disorganized.png");
  background-size: cover;
  border-color: navy;
  border-width: 30px;
  border-style: solid;
}

.p3 {
  background-color: white;
  background-image: url("../images/dis.png");
  background-size: cover;
  border-color: navy;
  border-width: 30px;
  border-style: solid;
}

#p1 {
  text-align: center;
  font-size: 50px;
  margin-top: 10;
  font-weight: bold;
  color:black;
}

#p2 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-top: 10;
}

#p3 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-top: 10;
  color:black;
}

.s3 {
  text-align: center;
  border: medium;
  border-color: navy;
  border-width: 30px;
  border-style: solid;

}

#amenity1 {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.s3-images {
  margin-top: 7%;

}

.s4 {
  margin-left: 10%;
}

.s5 {
  margin-left: 10%;
}

#uni-text {
  width: 300px;
}

.uni {
  margin-top: 100px;
}

#uni1 {
  
}